
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.heading {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.ReactTable .rt-thead {
  overflow-y: scroll;
}
